{% extends "layout/default.html.twig" %}

{% block title %}Result{% endblock %}

{% block content %}

    {% set data = content %}
    {% set fields = data|get_object_vars %}

    <table border="1">

        {% for key,value in fields %}
            <tr>
                <td>
                    {{ key }}
                </td>
                <td>
                    {{ value }}
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
